.container{
    margin:0
}
body{
    min-height:100vh;
    background:#2e2e2e url("/img/background_fin.png") no-repeat center fixed;
    background-size:cover;
}

#landing-div{
    position:absolute;
    left:37%;
    bottom:17%;
    font-family: Cabin Sketch;
}

#landing-div > button{
    font-size:2.5rem;
    background: transparent;
    width:15rem;
}

#landing-div>p{
    color:whitesmoke;
    text-align: center;
    padding-left: 4rem;
    padding-top: 1rem;
}
#menu-btn{
    color: #28a745;
    border: 3px #28a745 solid;
}
#menu-btn:hover{
    background-color:#28a745!important;
    color:white;
}
.login-btn{
    color: #dc3545;
    border: 3px #dc3545 solid;
}
.login-btn:hover{
    background-color:#dc3545 !important;
    color:white;
}