body{
    background-color:beige;
}
h1{font-size:5rem;
    font-weight:bold;
    font-family: "Cabin Sketch";
    text-align:center;}

h3{
    font-size:3rem;
    font-weight:bold;
    font-family: "Cabin Sketch";
    padding: 3rem 0 0 10rem;

}

.col-8{
    background-color:white;
}

#toppings_div img{
    height:7rem; width:7rem;
}

#crust{
    position:absolute;
    height:7rem;
    width:7rem;
    background-color: orange;
    border-radius:50%;
    z-index:5;
}

#sauce{
    position:absolute;
    height:6rem;
    width:6rem;
    background-color: red;;
    border-radius:50%;
    z-index:6;
    left:10px;
    top:10px;
}

.form-check-inline{
    padding-left:35%; !important
}