body{
    background-color:beige;
}
h1{font-size:5rem;
    font-weight:bold;
    font-family: "Cabin Sketch";
    text-align:center;}

h3{
    font-size:3rem;
    font-weight:bold;
    font-family: "Cabin Sketch";
    padding: 3rem 0 0 10rem;

}

.col-8{
    background-color:white;
}

