body{
    background-color:beige;
}
h1{font-size:5rem;
    font-weight:bold;
    font-family: "Cabin Sketch";
    text-align:center;}

h3{
    font-size:3rem;
    font-weight:bold;
    font-family: "Cabin Sketch";
    /*padding: 3rem 0 0 10rem;*/

}

.col-8{
    background-color:white;
    margin-top:2.5%;

}

form{
    margin:3rem 10rem;
}

#crust{
    position:absolute;
    height:7rem;
    width:7rem;
    background-color: orange;
    border-radius:50%;
    z-index:5;
}

#sauce{
    position:absolute;
    height:6rem;
    width:6rem;
    background-color: red;;
    border-radius:50%;
    z-index:6;
    left:10px;
    top:10px;
}

#toppings_row{
    text-align:center;
    border-radius:10px;
    position:relative;
    width:60%;
    background-color:beige !important;
    margin-left:20%
}
#toppings_div{
    display:inline-block;
}

#toppings_div img{
    height:7rem; width:7rem;
}

/*.form-check-inline{*/
    /*padding-left:35%; !important*/
/*}*/