<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div sec:authorize="!isAuthenticated()">
    <a href="/login">Login</a>
</div>
<div sec:authorize="isAuthenticated()">
    <a href="/add">Add Pizza Order</a>
</div>
<h2>Order Summary</h2>
<div th:each="mypizza : ${pizzaorders}">
    <div th:if="${mypizza.normalDough == true}">
        <p>Normal Dough</p>
    </div>
    <div th:if="${mypizza.glutenFreeDough == true}">
        <p>Gluten Free Dough</p>
    </div>
    <div th:if="${mypizza.redSauce == true}">
        <p>Red Sauce</p>
    </div>
    <div th:if="${mypizza.whiteSauce == true}">
        <p>White Sauce</p>
    </div>
    <div th:if="${mypizza.cheese == true}">
        <p>Cheese</p>
    </div>
    <div th:if="${mypizza.noCheese == true}">
        <p>No Cheese</p>
    </div>
    <div th:if="${mypizza.mushroom == true}">
        <p>Mushroom</p>
    </div>
    <div th:if="${mypizza.greenPepper == true}">
        <p>Green Pepper</p>
    </div>
    <div th:if="${mypizza.onions == true}">
        <p>Onion</p>
    </div>
    <div th:if="${mypizza.bacon == true}">
        <p>Bacon</p>
    </div>
    <div th:if="${mypizza.pepperoni == true}">
        <p>Pepperoni</p>
    </div>
    <div th:if="${mypizza.sausage == true}">
        <p>Sausage</p>
    </div>


    <p th:text="${mypizza.price}"></p>
    <p th:text="${mypizza.time}"></p>
    <a sec:authorize="isAuthenticated()" th:href="@{/update/{id} (id=${mypizza.id})}">Update</a>
    <a th:href="@{/detail/{id} (id=${mypizza.id})}">Details</a>
    <a sec:authorize="isAuthenticated()" th:href="@{/delete/{id} (id=${mypizza.id})}">Delete</a>
</div>

<br/>
<div sec:authorize="isAuthenticated()">
    <a href="/logout">Logout</a>
</div>

</body>
</html>