<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="www.thymeleaf.org/extras/spring-security">

<head>

    <title>Thinh Crust Pizza</title>
    <th:block th:replace="base :: header"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{css/landing_style.css}">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Cabin+Sketch:400,700&display=swap" rel="stylesheet">
    <!--<link rel="stylesheet" type="text/css" href="../static/css/landing_style.css">-->

</head>
<body>

<div>
    <div class="row body">

        <!--<div class="col-2 side-nav">-->
        <!--test2-->
        <!--</div>-->
        <div id="landing-div" class="row">
            <button id="menu-btn" type="button" onclick="window.location.href='/order'" class="btn btn-lg">Order</button>
            <span class="col-1"></span>
            <button class="login-btn btn btn-lg" sec:authorize="!isAuthenticated()" type="button" onclick="window.location.href='/login'" >Login</button>
            <button class="login-btn btn btn-lg" sec:authorize="isAuthenticated()" type="button" onclick="window.location.href='/logout'" >Logout</button>


            <!--<button type="button" class="btn btn-lg btn-danger">Register</button>-->

            <br/>
            <p>*Customers will be required to login before submitting order</p>
        </div>


    </div>
</div>

<!--<a href="https://www.freepik.com/free-photos-vectors/background">Background vector created by macrovector - -->
    <!--www.freepik.com</a>-->
<th:block th:replace="base :: jslinks"></th:block>
</body>
</html>