<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="base :: header"></th:block>
    <title>User Found By Name</title>
</head>
<body>
<div th:replace="base :: nav"></div>
<!--<th:block th:each="userInfo : ${users}">-->
<!--<p th:text="${userInfo.s}"></p>-->
<!--</th:block>-->
<th:block th:if="${users} == null">
    <p>User is not found</p>
</th:block>

<th:block th:if="${users} != null">
    <span>Username: <p th:text="${users.username}"></p></span>
    <span>Phone Number: <p th:text="${users.phonenum}"></p> </span>
    <span>First Name: <p th:text="${users.firstName}"></p></span>
    <span>Last Name: <p th:text="${users.lastName}"></p></span>
    <span>Email: <p th:text="${users.email}"></p></span>
</th:block>
<th:block th:replace="base :: jslinks"></th:block>
</body>
</html>