<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Mail Template</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Cabin+Sketch:400,700&display=swap" rel="stylesheet">
</head>
<style>
    h3 {
        font-size: 3rem;
        font-weight: bold;
        font-family: "Cabin Sketch"
    }

    h1 {
        font-size: 5rem;
        font-weight: bold;
        font-family: "Cabin Sketch"
    }
</style>


<body>

<p><h3>A order summary has been sent to your email</h3></p>

</body>
</html>