<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order Form</title>
</head>
<body>

<form action="#"
      th:action="@{/process}"
      th:object="${pizzaorder}"
      method="post"
      onsubmit="return checkSelectAtLeastOne(this);">
    <!--    private String normalDough;-->
    <!--    private String glutenFreeDough;-->
    <!--    private String redSauce;-->
    <script type="text/javascript" language="JavaScript">
        <!--
        function checkSelectAtLeastOne(theForm) {
            if (
                theForm.normalDough.checked == false &&
                theForm.glutenFreeDough.checked == false &&
                theForm.redSauce.checked == false &&
                theForm.whiteSauce.checked == false
            ) {
                alert('Make Sure you pick one in each category');
                return false;
            } else {
                return true;
            }

        }

        //-->
    </script>
    <script>
        function selectOnlyThis(id) {
            for (var i = 1;i <= 2; i++)
            {
                document.getElementById(i).checked = false;
            }
            document.getElementById(id).checked = true;
        }
    </script>
    <input type="hidden" th:field="*{id}">
    Dough:
    <hr>
    <br>
    Normal Dough: <input id="1" onclick="selectOnlyThis(this.id)" type="checkbox" name="normalDough" th:checked="${pizzaorder.normalDough == true}">

    Gluten Free Dough: <input id="2"  onclick="selectOnlyThis(this.id)"type="checkbox" name="glutenFreeDough"
                              th:checked="${pizzaorder.glutenFreeDough == true}">






    <br>
    <br>
    Sauce:
    <hr>
    <br>
    Red Sauce: <input id="3" type="checkbox" name="redSauce" th:checked="${pizzaorder.redSauce == true}">

    White Sauce: <input id="4" type="checkbox" name="whiteSauce" th:checked="${pizzaorder.whiteSauce == true}">
    <br>

    <input type="hidden" th:field="*{time}">

    <input type="submit" value="Submit">
</form>

</body>
</html>