<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="base :: header"></th:block>
    <title>Detail</title>
</head>
<body>
<div th:replace="base :: nav"></div>
<a href="/">Home</a>

<div th:if="${pizzaorder.smallSize == true}">
    <p>Size: Small</p>
</div>
<div th:if="${pizzaorder.mediumSize == true}">
    <p>Size: Medium</p>
</div>
<div th:if="${pizzaorder.largeSize == true}">
    <p>Size: Large</p>
</div>
<div th:if="${pizzaorder.normalDough == true}">
    <p>Normal Dough</p>
</div>
<div th:if="${pizzaorder.glutenFreeDough == true}">
    <p>Gluten Free Dough</p>
</div>
<div th:if="${pizzaorder.redSauce == true}">
    <p>Red Sauce</p>
</div>
<div th:if="${pizzaorder.whiteSauce == true}">
    <p>Red Sauce</p>
</div>
<div th:if="${pizzaorder.noSauce == true}">
    <p>No Sauce</p>
</div>
<div th:if="${pizzaorder.cheese == true}">
    <p>Cheese</p>
</div>
<div th:if="${pizzaorder.noCheese == true}">
    <p>No Cheese</p>
</div>
<div th:if="${pizzaorder.mushroom == true}">
    <p>Mushroom</p>
</div>
<div th:if="${pizzaorder.greenPepper == true}">
    <p>Green Pepper</p>
</div>
<div th:if="${pizzaorder.onions == true}">
    <p>Onion</p>
</div>
<div th:if="${pizzaorder.bacon == true}">
    <p>Bacon</p>
</div>
<div th:if="${pizzaorder.pepperoni == true}">
    <p>Pepperoni</p>
</div>
<div th:if="${pizzaorder.sausage == true}">
    <p>Sausage</p>
</div>


<p th:text="${pizzaorder.price}"></p>
<span>Your Pizza will arrive at <p th:text="${pizzaorder.time}"></p></span>
</div>
<th:block th:replace="base :: jslinks"></th:block>
</body>
</html>