<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>

<a href="/">Home</a>

<div th:if="${pizzaorder.normalDough == true}">
    <p>Normal Dough</p>
</div>
<div th:if="${pizzaorder.glutenFreeDough == true}">
    <p>Gluten Free Dough</p>
</div>
<div th:if="${pizzaorder.redSauce == true}">
    <p>Red Sauce</p>
</div>
<div th:if="${pizzaorder.whiteSauce == true}">
    <p>Red Sauce</p>
</div>
<p th:text="${pizzaorder.price}"></p>
</div>

</body>
</html>